docker.enabled = true

process {

    withLabel: 'moshpit' {
        container = 'quay.io/qiime2/moshpit:2026.4'
    }
    withLabel: 'pathogenome' {
        container = 'quay.io/qiime2/pathogenome:2026.4'
    }

    withName: fondueDownload {
        cpus = 8
        memory = '16.GB'
        time = '24.h'
    }

    withName: assembleMegahit {
        cpus = 12
        memory = '64.GB'
        time = '48.h'
    }

    withName: predictGenesProdigal {
        cpus = 12
        memory = '32.GB'
        time = '24.h'
    }

    withName: downloadAMRDB {
        cpus = 8
        memory = '16.GB'
        time = '24.h'
    }

    withName: AMRAnnotate {
        cpus = 12
        memory = '64.GB'
        time = '24.h'
    }

}
